## 1.1 Unpacking a Sequence into Separate Variables - match

In [4]:
# match
p = (4,5)
x,y = p
s = 'hello'
a,b,c,d,e = s

In [7]:
x,y

(4, 5)

In [8]:
a,b,c,d,e

('h', 'e', 'l', 'l', 'o')

In [11]:
# underscore
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name,_,score,_ = data
name,score

('ACME', 91.1)

## 1.2 Unpacking elements from iterables of arbitrary length - *var

In [14]:
num = [1,2,3,4,5,6,7]
head, *middle, back = num
middle

[2, 3, 4, 5, 6]

## 1.3 Keeping the last N items - deque from collection

In [16]:
from collections import deque
q = deque(maxlen=3)
q.append(1)
q.append(3)
q.append(2)
q.append(3)
# q = deque([3,2,3],maxlen=3)
# unlimited deque
q = deque()
#op
q.append(3)
q.appendleft(4)
q.pop()
q.popleft()

4

## 1.4 Finding the largest or smallest N items - heapq nlargest nsmallest

In [34]:
import heapq
num = [1,23,4,5,5,1]
heapq.heapify(num)

In [35]:
heapq.heappop(num)

1

In [36]:
sorted(num)

[1, 4, 5, 5, 23]

In [52]:
import heapq
class PriorityQueue:
	def __init__(self):
		self._queue = []
		self._index = 0

	def push(self,item, priority):
		# use -priority (priority ascend order)
		# compare index if priorities are same
		heapq.heappush(self._queue, 
						(-priority, self._index, item))
		# avoid confliction when item1 == item2
		self._index += 1
	
	def pop(self):
		return heapq.heappop(self._queue)

In [53]:
# test class without buildin ordering
class Item:
	def __init__(self, name):
		self.name = name
	def __repr__(self):
		return 'Item({!r})'.format(self.name)

In [54]:
q = PriorityQueue()
q.push(Item('foo'),1)
q.push(Item('bar'),5)
q.push(Item('spam'),4)
q.push(Item('grok'),1)

In [55]:
q.pop()

(-5, 1, Item('bar'))

In [48]:
q.pop()

Item('spam')

In [49]:
q.pop()

Item('foo')

In [50]:
q.pop()

Item('grok')

In [51]:
q.pop()

IndexError: index out of range

## 1.6 Map keys to multiple values in a dictionary - defaultdict from collections

In [65]:
# error case
q = {}
q['a'].append('a')

KeyError: 'a'

In [66]:
q.setdefault('a',[]).append(1)
q['a']

[1]

In [67]:
# use defaultdict
from collections import defaultdict
dq = defaultdict(list)
dq['a'].append(1)
dq['a'].append(2)
dq['a']

[1, 2]

In [68]:
num

[1, 5, 4, 5, 23]

In [95]:
def dedupe(items, key=None):
    seen = list()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.append(val)

In [103]:
a = [1, 5, 2, 1, 9, 1, 5, 10]
list
list(dedupe(a))

[1, 5, 2, 9, 10]

In [104]:
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
list(dedupe(a, key=lambda d: (d['x'],d['y'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

In [105]:
a = set((1,6,2,4,3,2,1))

In [106]:
a.add(2.5)

In [107]:
a

{1, 2, 2.5, 3, 4, 6}

## 1.11 Name a slice - readable intervals slice(10,20) and autofit s.indices(size)

In [127]:
a = slice(5,50,2)
s = 'HelloWorld'
a.indices(len(s))

(5, 10, 2)

In [137]:
for i in range(*(5, 10, 3)):
    print(s[i])

W
l

In [142]:
item = [i for i in range(50)]
item[a]

[5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

## 1.12 Most frequently occurrence in seq - collections.Count most_common(K)

In [146]:
from collections import Counter

## 1.14 Sort objects without native comparison - attrgetter('member')

In [158]:
class User:
	def __init__(self,user_id):
		self.user_id = user_id
	def __repr__(self):
		return 'User({})'.format(self.user_id)

users = [User(23),User(3),User(99)]

In [159]:
users

[User(23), User(3), User(99)]

In [160]:
from operator import attrgetter
sorted(users, key=attrgetter('user_id'))

[User(3), User(23), User(99)]

## 1.15 Group records based on a field - itertools.groupby()

In [162]:
from operator import itemgetter
from itertools import groupby
rows = [ {'address': '5412 N CLARK', 'date': '07/01/2012'}, 
{'address': '5148 N CLARK', 'date': '07/04/2012'}, 
{'address': '5800 E 58TH', 'date': '07/02/2012'}, 
{'address': '2122 N CLARK', 'date': '07/03/2012'}, 
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}, 
{'address': '1060 W ADDISON', 'date': '07/02/2012'}, 
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}, 
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'}, ]

# Sort by the desired field first 
rows.sort(key=itemgetter('date'))
# Iterate in groups 
for date, items in groupby(rows, key=itemgetter('date')): 
	print(date) 
	for i in items: 
		print(' ', i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [172]:
groupby(rows, key=itemgetter('date'))

## 1.16 Filter seq elements - () [] filter(is_fct, list_obj), iterator.compress()

In [179]:
counts = [ 0, 3, 4, 1, 7, 6,120,120,1230,12312]
from itertools import compress
more5 = [n > 5 for n in counts]
list(compress(rows, more5))

[{'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]

## 1.18 Map names to sequence elements - collections.namedtuple()

In [186]:
from collections import namedtuple
sub = namedtuple('subscr',['addr','joined'])
subsub = subscr('jonesy@example.com', '2012-10-19')

NameError: name 'subscr' is not defined

In [185]:
type(subsub)

__main__.subscr

## 1.20 Combine multiple mappings into one mapping - collections ChainMap

In [188]:
from collections import ChainMap
a = {'x': 1, 'z': 3 } 
b = {'y': 2, 'z': 4 }
c = ChainMap(a,b) 
print(c['x']) # Outputs 1 (from a) 
print(c['y']) # Outputs 2 (from b) 
print(c['z']) # Outputs 3 (from a)

a['x'] = 42
c['x']	# Output 42

1
2
3

42